---
---

@import "{{ site.theme }}";

#container {
  background: none;
}

body {
  background: none; 
}

header {
  text-align: center;
}

#main_content {
  text-align: center;
}

footer {
  display: none;
}
